[user]
	name = {{GIT_USER_NAME}}
	email = {{GIT_USER_EMAIL}}
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	um = "!git checkout main && git pull origin main"
[init]
	defaultBranch = main
[core]
	editor = vi
	hooksPath = {{HOME}}/.config/git/hooks
